.card-container {
  flex: 1 1 10rem;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  align-self: normal;
  background-color: #95dada;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}